@model WebApplication13.Models.tbl_Jokes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_Jokes</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Jokesdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jokesdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jokessub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jokessub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JokesDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JokesDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jokespic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jokespic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ipaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ipaddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalView)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalView)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jokescatmaster.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jokescatmaster.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jokescatmaster1.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jokescatmaster1.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mem.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mem.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mem1.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mem1.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mem2.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mem2.fname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Jokesid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
